.searchForm {
  margin-bottom: 20px;
}

.searchInput {
  height: 20px;
  padding-left: 4px;
  margin-right: 10px;
}

.searchBtn {
  color: white;
  background-color: rgb(58, 58, 255);
  border-radius: 6px;
  padding: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.searchBtn:hover {
  background-color: rgba(58, 58, 255, 0.76);
}
